:root {
    --mh-white-color: #fff;
    --mh-secondary-color: #A4FF5C;
    --mh-theme-color-1: #F8F9FD;
    --mh-theme-color-2: #FAFBFE;
    --mh-theme-color-3: #EEF0F5;
    --mh-heading-color: #141820;
    --mh-text-color: #525356;
    --mh-blue-color: #277DFF;
}