$font-url: 'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap';

:root {
    --mh-heading-font:  "Manrope", sans-serif;
    --mh-body-font:  "Manrope", sans-serif;
    --mh-textslid-font: "Roboto Condensed", sans-serif;
}
