@use '../utils' as *;

/*----------------------------------------*/
/*  1.2 Common Classes
/*----------------------------------------*/

.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
img{
	max-width: 100%;
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-n1 {
	z-index: -1;
}
.z-index-n2 {
	z-index: -2;
}
.z-index-1{
	z-index: 1;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}
.z-index-4{
	z-index: 4;
}

.z-index-11{
	z-index: 11;
}
.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}

// bg-color
.mh-theme-color {
	background-color: var(--mh-secondary-color);
}
.mh-white-color {
	background-color: var(--mh-white-color);
}
.mh-theme-color-2 {
	background-color: var(--mh-theme-color-2);
}
.mh-theme-color-3 {
	background-color: var(--mh-theme-color-3);
}


// Font Weight
.fnw {
	&-300 {
		font-weight: 300;
	}
	&-400 {
		font-weight: 300;
	}
	&-500 {
		font-weight: 500;
	}
	&-600 {
		font-weight: 600;
	}
	&-700 {
		font-weight: 700;
	}
}

// border
.br {
	&-12 {
		border-radius: 12px;
	}
	&-16 {
		border-radius: 16px;
	}
	&-20 {
		border-radius: 20px;
	}
	&-30 {
		border-radius: 20px;
	}
}

// height

.tp-h {
	&-630 {
		min-height: 630px;
	}
}
